*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
p,
span,
button,
input {
  padding: 0;
  margin: 0;
}

input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

:root {
  font-size: 16px;
  font-family: "Space Mono", monospace;
}

.main {
  font-size: 1rem;
  width: 100%;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-content: center;
  background-color: #c5e4e7;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-position: top 3rem center;
  padding-top: 9rem;
}

.card {
  max-width: 920px;
  background-color: white;
  padding: 2rem;
  border-radius: 20px 20px 0 0;
}

input[type="number"] {
  font-family: "Space Mono", monospace;
  font-size: 1.5rem;
  font-weight: 700;
  color: #00494d;
  height: 3rem;
  width: 100%;
  padding: 1rem;
  line-height: 0;
  text-align: right;
  margin: 5px 0;
  background-color: #f4fafa;
  border: none;
  border-radius: 3px;
}

input[type="number"]:focus {
  outline: 2px solid #26c0ab;
}

.bill,
.people,
.tips {
  margin-bottom: 2rem;
}

.label__text {
  color: #5e7a7d;
  font-weight: 700;
  font-size: 15px;
}

.bill input {
  background-image: url(../images/icon-dollar.svg);
  background-position: left 1rem center;
  background-repeat: no-repeat;
}

.select-tip {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.tips {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.tip {
  width: 100%;
  height: 3rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.tip input[type="radio"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 0;
  width: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}

.tip .tip__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background: #00494d;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 5px;
}

.tip input[type="radio"]:checked + .tip__text {
  background: #26c0ab;
  color: #00494d;
}

.tip:hover .tip__text {
  background: #bff2ec;
  color: #00494d;
}

.tip .custom::-webkit-input-placeholder {
  font-size: 1.5rem;
  font-weight: 700;
}

.tip .custom:-ms-input-placeholder {
  font-size: 1.5rem;
  font-weight: 700;
}

.tip .custom::-ms-input-placeholder {
  font-size: 1.5rem;
  font-weight: 700;
}

.tip .custom::placeholder {
  font-size: 1.5rem;
  font-weight: 700;
}

.people input {
  background-image: url(../images/icon-person.svg);
  background-position: left 1rem center;
  background-repeat: no-repeat;
}

.number-people #people__error {
  float: right;
  display: none;
  color: red;
  font-weight: 400;
}

.card__output {
  background-color: #00494d;
  padding: 1.5rem;
  padding-top: 2rem;
  border-radius: 15px;
  margin-inline: -0.5rem;
  overflow: none;
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.result .result__value {
  font-size: 1.5rem;
  font-weight: 700;
  color: #26c0ab;
}

.result .result__value span {
  font-size: clamp(2rem, 5vw, 3rem);
}

.result__text {
  color: white;
  font-weight: 700;
}

.result__text .result__text__per {
  color: #7f9c9f;
  font-size: 13px;
}

.reset {
  margin-top: 1rem;
  width: 100%;
  padding: 0.5rem;
  text-transform: uppercase;
  font-family: "Space Mono", monospace;
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  font-weight: 700;
  background-color: #26c0ab;
  color: #00494d;
  border: none;
  border-radius: 5px;
}

.reset:hover, .reset:focus {
  background-color: #bff2ec;
  cursor: pointer;
}

.reset:disabled {
  opacity: 0.2;
  color: #7f9c9f;
  background-color: #bff2ec;
  cursor: default;
}

@media (min-width: 700px) {
  .main {
    background-position: top 10% center;
    padding: 0;
    padding-bottom: 2rem;
  }
}

@media (min-width: 700px) and (min-height: 900px) {
  .main {
    background-position: top 10rem center;
    padding: 0;
  }
}

@media (min-width: 700px) {
  .card {
    margin-top: 4rem;
    padding: 3rem;
    border-radius: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
}

@media (min-width: 700px) and (max-height: 660px) {
  .card {
    margin-top: 10rem;
  }
}

@media (min-width: 700px) {
  #custom-tip {
    padding-left: 0;
  }
  #custom-tip:focus {
    padding-left: 1rem;
  }
  .people {
    margin: 0;
  }
  .tips {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .card__output {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2.5rem 2.5rem 2.5rem 2.5rem;
    margin: -1rem;
  }
  .card__output .result {
    margin-bottom: 1.5rem;
  }
}
/*# sourceMappingURL=style.css.map */