$colors: (
  pr-strong-cyan: hsl(172, 67%, 45%),
  nt-very-dark-cyan: hsl(183, 100%, 15%),
  nt-dark-grayish-cyan: hsl(186, 14%, 43%),
  nt-dark-grayish-cyan-lighter: hsl(184, 14%, 56%),
  nt-light-grayish-cayn: hsl(185, 41%, 84%),
  nt-light-grayish-cayn-lighter: hsl(185, 41%, 97%),
  nt-white: hsl(0, 0%, 100%),
);
